/* Harry Potter styling */

@import url("https://fonts.googleapis.com/css?family=Montez|Sofia");

body {
  font-family: "Sofia", cursive;
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.quotation {
  font-size: xx-large;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: x-large;
}

#logo {
  height: 10%;
  width: 100%;
}

/* Centered text */

.centered {
  position: absolute;
  width: 55%;
  top: 60%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.author {
  font-size: 1em;
  color: #fff;
  text-align: center;
  -webkit-animation: author 1s ease-in-out infinite alternate;
  -moz-animation: author 1s ease-in-out infinite alternate;
  animation: author 1s ease-in-out infinite alternate;
}

@keyframes author {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h3 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: "Montez", cursive;
}

ul {
  text-align: center;
  font-size: 30px;
  list-style-type: none;
}

.harry-books {
  text-align: center;
}

.harry-books img {
  height: 15em;
  width: 20em;
}

.container > p {
  font-size: 1.3em;
  text-align: center;
  margin: 10px;
}

.hp-glass {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 175px;
  width: 150px;
}

.card {
  height: 400px;
  width: 200px;
  box-shadow: 0 4px 10px 0 rgb(191, 63, 63);
  transition: 0.3s;
}

.avatarDetails {
  text-align: center;
}

.avatarImg {
  border-radius: 50px;
}

.card:hover {
  opacity: 5;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/5nViubjcRMMc9U1hsgWHXf/20cdbf8454d516804d9cae2208018289/MinaLima_Black_Family_Tapestry_wallpaper_roll.jpg");
  background-attachment: fixed;
  padding: 1%;
}

.flex-container > div {
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position-x: -3.9em;
  background-position-y: -0.9em;
  margin: 1em;
  padding: 2.2em;
  opacity: 0.5;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 300px;
}

.footer {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobileView {
    display: none;
  }
}