/**
 * card shine effect
 */

.card {
  position: relative;
  overflow: hidden;
  filter: blur(2px);
}

/**
   * The "shine" element
   */

.card:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(10deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */

// zooms in the char card view to see details more clearly
.card:hover {
  filter: blur(0px);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.card:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Harry Potter image Floating style */

.harry-floating img {
  position: absolute;
  width: 30em;
  height: 30em;
  overflow: hidden;
  transform: translatey(0px);
  // animation: float 6s ease-in-out infinite;
}

.harry-potter {
  top: 55px;
  left: 25px;
  z-index: 2;
}

/* Harry Potter logo Floating style */

.harry-potter-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.harry-potter-title-wrap {
  width: 100%; /*or whatever you choose*/
  margin: auto;
  z-index: 2;
}
.harry-potter-title-wrap img {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
  width: 100%;
  width: 55em;
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
}

@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
